.about-section {
    background-color: var(--white);
    color: var(--dark);
    height: 400px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;

}

.about-heading {
    margin-bottom: -20px;
    font-family: var(--secondary-font);
}

.sub-heading {
    color: var(--dark);
}

.about-text {
    color: var(--dark);
    width: 350px;
}

.about-images {
    width: 40%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    
}

.image1, .image2 {
    position: absolute;
    height: 250px;
    width: 200px;
    object-fit: cover;

}

.image1 {
    top: 0;
    right: 0;
    z-index: 10;
}

.image2 {
    bottom: 0;
    left: 0;
}