.card {
    width: 260px;
    height: 460px;
    border-radius: 16px;
    background-color: #d3d3d350;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.card-content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price {
    color: red;
}

.card-title {
    color: var(--dark);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 30px;
}

.card-description {
    color: var(--dark);
    margin-bottom: 16px; 
}

.delivery-section {
    display: flex;
    align-items: center; 
    gap: 10px; 
    color: var(--dark);
    margin-top: auto; 
}

.delivery-section a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delivery-section img {
    width: 20px; 
    height: 20px;
}
