.card {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-color: #d3d3d350;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.card-content {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-and-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price {
    color: red;
}

.card-title {
    color: var(--dark);
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 30px;
}

.card-description {
    color: var(--dark);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 3 lines initially */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease-in-out;
    max-height: 4.5em; /* Adjust height based on line height and number of lines */
  }
  
  .card-description.expanded {
    -webkit-line-clamp: unset; /* Remove line clamp when expanded */
    max-height: none;
  }
  
  .read-more-btn {
    color: #000;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0;
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
    margin: 10px 0 ;
  }
  

.delivery-section {
    display: flex;
    align-items: center; 
    gap: 10px; 
    color: var(--dark);
    margin-top: auto; 
}

.delivery-section a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark);
}

.delivery-section img {
    width: 20px; 
    height: 20px;
}

@media (max-width: 768px) {
    .card {
        height: auto;
    
    }

  

    /* .card-title {
        font-size: 18px;
    } */

    /* .card-description, .card-price {
      font-size: 14px; 

    } */

  


    /* .delivery-section a {
        font-size: 13px;
        flex: 1;
    } */

     
}