.footer-section {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    height: 175px;
    font-size: 14px;
    padding: 10px;
    margin-top: 50px;
}
.footer-logo {
    width: 100px;
    height: 100%;
}
.footer-address, .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.footer-links-title, .footer-address-title {
    font-weight: bold;
    color: var(--dark);
}

.footer-links-list  {
    list-style: none;
    padding-left: 0; /* Removes default padding */
    margin-left: 0; /* Removes default margin */
}



.footer-links-list a {
    text-decoration: none;
    color: var(--dark);
  
}


.footer-address p {
    color: var(--dark);
    margin: 0;
}

.footer-socials {
    width: 40px;
    height: 40px;
}

