nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    padding:0 10px 0 10px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    margin: 0;
}